video {
  max-width: 600px;
}

header {
 
  background: linear-gradient(90deg, hsla(195, 86%, 50%, 1) 0%, hsla(236, 93%, 65%, 1) 100%);
  color: #fff;
  padding: 2rem;
  min-height:60px;
  display:flex;
  justify-content: space-between;
  align-items: center;

}

header a{
  color:white;
  text-decoration: none;
}


.headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.headings h1 {
  margin: 0;
}

.headings a {
  margin-left: auto;
  color:white;
}

.alert {
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert ul {
    margin-bottom: 0;
    padding-left: 1.5rem;
}

.alert strong {
    display: block;
    margin-bottom: 0.5rem;
}