video {
  max-width: 600px;
}

header {
  background-color: #f8f9fa;
  padding: 2rem;
}

header div {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.headings h1 {
  margin: 0;
}

.headings a {
  margin-left: auto;
}

.alert {
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert ul {
    margin-bottom: 0;
    padding-left: 1.5rem;
}

.alert strong {
    display: block;
    margin-bottom: 0.5rem;
}